Package: com.jemidem.homepluspro
Name: HomePlus Pro
Version: 1.2.3
Depends: mobilesubstrate
Architecture: iphoneos-arm
Author: Kritanta <repo@hackyouriphone.org>
Depiction: http://repo.hackyouriphone.org/depiction/depiction.php?filename=homepluspro
SileoDepiction: https://depiction.hackyouriphone.org/sileoDepiction.php?filename=homepluspro
Section: Tweaks
Description: Dynamic, live homescreen layout with an intuitive UI
Homepage: http://repo.hackyouriphone.org/depiction/depiction.php?filename=homepluspro
Maintainer: jemidem <jemidem8474833@gmail.com>
